@model Blog.DAL.Models.User

@{
    ViewData["Title"] = "Регистрация";
}

<h3 class="center">Регистрация пользователя</h3>
<form method="post" asp-controller="User" asp-action="Register">
    <div class="mb-3">
        <label for="exampleInputFirstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="exampleInputFirstName" aria-describedby="firstNameHelp" name="FirstName">
        <div id="firstNameHelp" class="form-text">Please enter your first name.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputLastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="exampleInputLastName" aria-describedby="lastNameHelp" name="LastName">
        <div id="lastNameHelp" class="form-text">Please enter your last name.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="Email">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="Password">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

