@model Blog.DAL.Models.User

@{
    ViewData["Title"] = "Редактирование пользователя";
}

<h3 class="center">Редактирование пользователя</h3>

<form method="post" asp-controller="User" asp-action="Update">
    <input type="hidden" asp-for="Id" asp-for="Email" />
    <div class="mb-3">
        <label>First Name</label>
        <input asp-for="FirstName" class="form-control" placeholder="Дмитрий" required>
        <div id="firstNameHelp" class="form-text">Please enter your first name.</div>
    </div>
    <div class="mb-3">
        <label>Last Name</label>
        <input asp-for="LastName" class="form-control" placeholder="Петров" required>
        <div id="lastNameHelp" class="form-text">Please enter your last name.</div>
    </div>
   
    <div class="mb-3">
        <label>Password</label>
        <input asp-for="Password" class="form-control" placeholder="придумайте надежный пароль" required>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
