<h1>Comments List</h1>
<table>
    <thead>
        <tr>
            <th>Content</th>
            <th>PostedDate</th>
            <th>UserId</th>
            <th>ArticleId</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var comment in Model)
        {
            <tr>
                <td>@comment.Content</td>
                <td>@comment.PostedDate</td>
                <td>@comment.UserId</td>
                <td>@comment.ArticleId</td>
            </tr>
        }
    </tbody>
</table>
