<h1>Comment Details</h1>
<dl>
    <dt>Content:</dt>
    <dd>@Model.Content</dd>
    <dt>PostedDate:</dt>
    <dd>@Model.PostedDate</dd>
    <dt>UserId:</dt>
    <dd>@Model.UserId</dd>
    <dt>ArticleId:</dt>
    <dd>@Model.ArticleId</dd>
</dl>
