@{
    ViewData["Title"] = "Главная страница";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="https://picsum.photos/id/48/5000/3333" class="img-fluid" alt="Изображение">
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <div class="text-center">
                <h1 class="display-4">Добро пожаловать в наш блог</h1>
                <p>Узнайте больше о <a href="https://learn.microsoft.com/aspnet/core">разработке веб-приложений с ASP.NET Core</a>.</p>
            </div>
        </div>
    </div>
</div>