<h1>Article Details</h1>
<dl>
    <dt>Title:</dt>
    <dd>@Model.Title</dd>
    <dt>Content:</dt>
    <dd>@Model.Content</dd>
    <dt>PublishedDate:</dt>
    <dd>@Model.PublishedDate</dd>
    <dt>UserId:</dt>
    <dd>@Model.UserId</dd>
</dl>
